.square {
  width: 5rem;
  height: 5rem;
  border: '2px solid #eee';
  align-content: center;
  background-color: #ffffff;
  font-weight: 500;
  font-size: 50px;
}

.square:hover {
  cursor: pointer;
}
